@import '~bootstrap/scss/bootstrap';

#settings {
  text-align: center;
}

#sign-out {
  text-align: center;
}

#start-game {
  text-align: center;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#form1 {
  text-align: center;
}

#sign-up {
  text-align: center;
}

#sign-in {
  text-align: center;
}

.container {
  align-content: center;
  // visibility: hidden;
}

.col-3 {
  background-color: white;
  font-size: 50px;
  height: 100px;
  text-align: center;
}
