@import '~bootstrap/scss/bootstrap';
// loader
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
// Normal CSS
.myButtons {
  text-align: center;
  margin-bottom: 15px;
}

#sign-out {
  margin: 0 auto;
}

#start-game {
  margin: 0 auto;
}

#history {
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#form1 {
  text-align: center;
}

#change-password {
  text-align: center;
}

#sign-up {
  text-align: center;
}

#sign-in {
  text-align: center;
}

// .container {
//   display: flex;
//   justify-content: center;
// }

.col-3 {
  background-color: white;
  font-size: 50px;
  height: 100px;
  text-align: center;
}
