@import '~bootstrap/scss/bootstrap';

#change-password {
  visibility: hidden;
}

#sign-out {
  visibility: hidden;
}

h1 {
  text-align: center;
}

.container {
  align-content: center;
}

.col-3 {
  background-color: red;
  font-size: 50px;
  height: 100px;
  text-align: center;
}
